{% extends "base.html" %}

{% set active_page = "intents" %}
{% if action == 'create' %}
  {% set page_title = "Add New Intent" %}
{% else %}
  {% set page_title = "Edit Intent" %}
{% endif %}

{% block page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
        <form id="intent-form" class="form-horizontal" action="{% if action == 'create' %}{{ url_for('intent.add_intent') }}{% else %}{{ url_for('intent.edit_intent', intent_id=intent.id) }}{% endif %}" method="post">
            <div class="card-header card-header-text" data-background-color="blue">
                <h4 class="card-title">{% if action == 'create' %}New Intent{% else %}Edit Intent{% endif %}</h4>
            </div>

            <div class="card-content">
                <div class="row">
                    <label class="col-sm-2 label-on-left">Intent Name</label>
                    <div class="col-sm-7">
                        <div class="form-group label-floating">
                            <input class="form-control"
                                type="text"
                                name="intent_name"
                                required="true"
                                placeholder="Required"
                                value="{% if action == 'edit' %}{{ intent.intent_name }}{% endif %}"
                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 label-on-left">User Says</label>
                    <div class="col-sm-7">
                        <div class="form-group label-floating">
                            <input class="form-control"
                                type="text"
                                name="user_says_input"
                                placeholder='Input the sentence and press "Enter" to save'
                            />
                        </div>
                    </div>
                    <input type="hidden" name="examples" id="examples" value=";{% if intent %}{{ intent.user_says_examples | map(attribute='id') | join(';') }};{% endif %}">
                </div>
                <div class="row">
                  <!-- <label class="col-sm-2 label-on-left">Examples</label> -->
                  <div class="col-sm-7 col-sm-offset-2 example-list">
                    {% if intent %}
                    {% for example in intent.user_says_examples %}
                    <div class="example-box" data-example-id="{{example.id}}">
                      <div class="col-sm-10">
                        <div class="form-group label-floating">
                            <div class="form-control example-content" contenteditable>
                              {{example.content}}
                            </div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <button type="button" class="btn btn-primary btn-round btn-fab btn-fab-mini button-margin update-example">
                          <i class="material-icons">save</i>
                        </button>
                        <button type="button" class="btn btn-danger btn-round btn-fab btn-fab-mini button-margin delete-example">
                          <i class="material-icons">delete</i>
                        </button>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <button type="submit" class="btn btn-info btn-fill">{% if action == 'create' %}Create{% else %}Update{% endif %}</button>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    var example_template = `
    <div class="example-box" data-example-id="_example_id_">
      <div class="col-sm-10">
        <div class="form-group label-floating">
            <div class="form-control example-content" contenteditable>
              _content_
            </div>
        </div>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-round btn-fab btn-fab-mini button-margin update-example">
          <i class="material-icons">save</i>
        </button>
        <button type="button" class="btn btn-danger btn-round btn-fab btn-fab-mini button-margin delete-example">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
    `;
    function setFormValidation(id){
      $(id).validate({
        errorPlacement: function(error, element) {
          $(element).closest('div').addClass('has-error');
        }
      });
    }

    function add_example(content, cb) {
      $.ajax({
        type: 'POST',
        url: '/api/user_says_examples',
        data: JSON.stringify({ content: content }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: cb
      });
    }

    function update_example(example_id, content, cb) {
      $.ajax({
        type: 'PUT',
        url: '/api/user_says_examples/' + example_id,
        data: JSON.stringify({ content: content }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: cb
      });
    }

    function delete_example(example_id, cb) {
      $.ajax({
        type: 'DELETE',
        url: '/api/user_says_examples/' + example_id,
        success: cb
      });
    }

    $(document).ready(function(){
      setFormValidation('#intent-form');

      $('.example-list').on('click', '.delete-example', function(e) {
        var example_box = $(this).parent().parent();
        delete_example(example_box.data('example-id'), function(data) {
          // update examples
          example_box.remove();
          // update examples
          $('#examples').val(
            $('#examples').val().replace(';' + example_box.data('example-id') + ';', ';')
          );
        });
      });

      $('.example-list').on('click', '.update-example', function(e) {
        var example_box = $(this).parent().parent();
        update_example(
          example_box.data('example-id'),
          $.trim(example_box.find('.example-content').html()),
          function(data) {
            //
          });
      });

      $('#intent-form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            console.log(e.target.value);
            if (e.target.name == 'user_says_input' && e.target.value) {
              // save to tags
              add_example(e.target.value, function(data) {
                console.log(data);
                $('.example-list').append(
                  example_template.replace(
                    '_example_id_', data.exampleID).replace(
                      '_content_', data.content)
                );
                $('#examples').val($('#examples').val() + data.exampleID + ';');
              });
              e.target.value = '';
            } else {
              return false;
            }
        }
      });
    });
  </script>
{% endblock %}
